# Task 2: Method Chaining

In [1]:
#imports

import pandas as pd
import seaborn as sns
import numpy as np
import os
import matplotlib.pyplot as plt
import statistics as stat

In [10]:
def load_n_wrangle (path):
    #function to load data
    data = pd.read_csv(path)
    
    
    #removing two columns and excluding unwanted variables.
    df1 = ( 
        data
        .drop('bmi' , 1)
        .drop('region' , 1)
        [data['smoker'] == 'no']
        [data['age'] > 25 ] 
    )
    
    
    #making values numberic and re-indexing.
    df2 = ( 
        df1
        .replace(to_replace = 'yes' , value = 1)
        .replace(to_replace = 'no' , value = 0)
        .reset_index()
        .drop('index' , 1)  
    )    
    return df2

#calling function to test.
loadProcess_data("insurance.csv")

/var/folders/f7/tzc6fx193gzd9024_9wczz380000gn/T/ipykernel_5445/2308868021.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data

     age     sex  children  smoker      charges
0     28    male         3       0   4449.46200
1     33    male         0       0  21984.47061
2     32    male         0       0   3866.85520
3     31  female         0       0   3756.62160
4     46  female         1       0   8240.58960
..   ...     ...       ...     ...          ...
818   51    male         1       0   9377.90470
819   52    male         2       0  10325.20600
820   57  female         2       0  12629.16560
821   52  female         3       0  11411.68500
822   50    male         3       0  10600.54830

[823 rows x 5 columns]